name: CI

on:
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      - name: Build backend image
        run: |
          docker build -f apps/expense_tracker/Dockerfile .          

      - name: Build frontend image
        run: |
          docker build -f apps/expense-tracker-frontend/Dockerfile .   

