name: CI/CD to macMini M4

on:
  push:
    branches:
      - master

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - run: npm ci --legacy-peer-deps

      # Prepend any command with "nx-cloud record --" to record its logs to Nx Cloud
      # - run: npx nx-cloud record -- echo Hello World
      - run: npx nx run-many -t build # TODO: ensure optimized build

      # TODO: docker the applications, create settings.toml and .env.local files and deploy to macMini M4
